$include /etc/inputrc

set completion-ignore-case On
"\t": menu-complete
"\e[Z": menu-complete-backward

# set show-all-if-ambiguous on
set show-all-if-unmodified on
set match-hidden-files off
set menu-complete-display-prefix on
